################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hello-world/FileContentIndex/a4bd9e95-6f07-4ec2-af83-ac37904f4a6f.vsidx
