*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
html{
    font-size: 13px;
}

header{
    border: 1px solid black;
width: 100%;
height: 73rem;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
   
}
#hizala{
    
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    
}
#hizala h1,#hizala h3{
    color: white;
    text-align: center;
}
#headerSearch{
    border: 1px solid #FF6345;
    border-radius: 2px;
    width: 85%;
    height: auto;
    margin: auto;
    background-color: #FF6345;
    padding: 1.5rem 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}
form input{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    text-indent: 1.5rem;
    padding:0 0.3rem;
    
}
.iconHeader::placeholder{
    background-image: url(img/placeholder.png);
    width: 16px;
height: 1.3rem;
    background-repeat: no-repeat;
    z-index: -1;
}
form button{
    width: 100%;
    display: block;
    margin: auto;
    height: 2.7rem;
    background-color: #FFBE00;
    border: none;
    color: white;
    font-size: 1.2rem;
}
form button:hover{
    background-color: white;
    color: #FFBE00;
    transition: 1s;
}

.box{
     
    width: 100%;
height: 8rem;
    margin-bottom: 1rem;
}
.boxPencere{
    background-color:#FFBE00;
    width: 7rem;
    height: 7rem;
    border-radius:50%;
    padding-top: 0.7rem;
    float: left;
    
}
.boxIconOne{
    background-image: url(img/megaphone.png);
    width: 5rem;
    height: 5rem;
    background-size: cover;
    margin: auto;
    
}
.boxPencere:hover{
    background-color:white;
    transition: 1s;
    
}

.boxPencere:hover .boxIconOne{
   background-image: url(img/megaphoneHover.png);
    transition: 1s;
    
}

.boxIconTwo{
    background-image: url(img/boss.png);
    width: 5rem;
    height: 5rem;
    background-size: cover;
    margin: auto;
     
}
.boxPencere:hover .boxIconTwo{
   background-image: url(img/bossHover.png);
    transition: 1s;
    
}
.boxIconThree{
    background-image: url(img/protection.png);
    width: 5rem;
    height: 5rem;
    background-size: cover;
    margin: auto;
    
}
.boxPencere:hover .boxIconThree{
   background-image: url(img/protectionHover.png);
    transition: 1s;
    
}
.boxIconFour{
    background-image: url(img/boss.png);
    width: 5rem;
    height: 5rem;
    background-size: cover;
    margin: auto;
    
}
.boxPencere:hover .boxIconFour{
   background-image: url(img/bossHover.png);
   transition: 1s;
    
}
.boxInfo{
    
    width: 65%;
    height: 7rem;
    float: left;
    margin-left: 2rem;
    
}
.box h2,.box p{
    color: white;
    
}

main{
    width: 100%;
    height: auto;
    padding: 2rem 0;
   
    
}
main h1{
    text-align: center;
}


#foodPencere{
    border: 5px solid #FFBE00;
    width: 100%;
height: auto;
    padding: 1rem;
    margin-top: 2rem;
}
.foodOne{
    background-image: url(img/yemek1.jpg);
    background-size: cover;
    width: 100%;
    height: 20rem;
    background-position: center;
    background-attachment: fixed;
    
}
.foodTwo{
    background-image: url(img/yemek2.jpg);
    background-size: cover;
    width: 100%;
    height: 20rem;
    background-position: center;
    background-attachment: fixed;
    
}
.foodThree{
    background-image: url(img/yemek3.jpg);
    background-size: cover;
    width: 100%;
    height: 20rem;
    background-position: center;
    background-attachment: fixed;
    
}
.foodFour{
    background-image: url(img/yemek4.jpg);
    background-size: cover;
    width: 100%;
    height: 20rem;
    background-position: center;
    background-attachment: fixed;
    
}
.foodInfo h2{
    text-align: center;
}


.foodLike{
    background-image: url(img/tavsiye.png);
    width: 4rem;
    height: 4rem;
    background-size: cover;
    float: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
footer{
    width: 100%;
    height:auto;
    background-color: #FFBE00;
    
}
#footerInfo{
    
    width: 100%;
height: auto;
    padding: 1rem;
    
}
#footerInfo h1{
    color: #B22222;
    text-align: center;
}
#footerInfo p{
    font-size: 1.2rem;
}
#hizalaFooter{
    width: 90%;
    margin: auto;
    height: 4rem;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}
.menu li{
    padding:1.6rem 1.6rem;
    background-color:#B22222;
    display: inline-block;
    float: left;
}
.menu a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

li{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}



@media screen and (min-width:800px){
    html{
        font-size: 15px;
    }
    #headerSearch{
        width: 65%;
    }
    .box{
        width: 65%;
        margin: auto;
    }
    .foodOne,.foodTwo,.foodThree,.foodFour{
        background-attachment: local;
    }
    #hizalaFooter{
        
          width: 62%;
    }
}
@media screen and (min-width:1200px){
    html{
        font-size: 18px;
    }
    header{
        height: 60rem;
    }
    #headerSearch{
        width: 60%;
    }
    main{
        padding: 2rem 0;
       
        height: 75rem;
    }
    .box{
        width: 50%;
        float: left;
        margin-top: 1.5rem;
    }
    #foodPencere:nth-child(odd){
        width: 49%;
        float: right;
        
    }
    #foodPencere:nth-child(even){
        width: 49%;
        float: left;
        
    }
    footer{
        clear: both;
         height: 18rem;

      
    }
    #footerInfo{
        
        width: 33%;
        float: left;
       
    }
    #hizalaFooter{
       width: 100%;
    }
    .menu li{
        padding:1.5rem 0.8rem ;
    }
  
}






























